@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  letter-spacing: 0.05em;
  line-height: 1.168;
  font-weight: normal;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
}

body {
  padding: 2rem;
}

header {
  position: sticky;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button,
a,
input {
  transition: all .15s ease-in-out !important;
  font-size: 15px;
}

.whitepaper h3 {
  font-size: 1.6em;
  background-color: #004cff;
  color: white;
  width: 100%;
  border-radius: 0.375rem;
  display: flex;
  justify-content: space-between;
  padding: 0.4em 0.8em;
}

@media (max-width: 768px) {
  .staking, .tickets {
    font-size: 80%;
  
    h2 {
      font-size: 130%;
    }
  
    button {
      font-size: 80%;
    }
  
    #amount {
      font-size: 80%;
    }
  }
}